.form-field {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

  
  .form-field:focus {
    border-color: #2563eb; /* Color del borde al enfocar */
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3); /* Sombra al enfocar */
  }
  
  p-dropdown.form-field {
    padding: 0; /* Los dropdowns no necesitan padding interno */
  }
  