<div class="text-center mb-5">
  <h2 class="text-primary text-4xl font-bold mb-3">Agregar Producto</h2>
  <p class="text-secondary font-normal italic">
    Ingresa la información del producto que deseas crear
  </p>
  <!-- <div> {{fomr2.value |json }} </div> -->
</div>

<form [formGroup]="fomr2" (ngSubmit)="addProduct()">
  <div class="field mb-5">
    <label for="descripcion" class="block text-900 font-medium mb-3"
      >Descripción del producto</label
    >
    <input
      id="descripcion"
      type="text"
      placeholder="Ej. Baldosa Cerámica"
      pInputText
      formControlName="tipoProducto"
      class="form-field"
    />
  </div>

  <div class="field mb-5">
    <label for="precio" class="block text-900 font-medium mb-3">Precio</label>
    <input
      id="precio"
      formControlName="precio"
      type="number"
      placeholder="$"
      pInputText
      class="form-field"
    />
  </div>

  <div class="field mb-5">
    <label class="block text-900 font-medium mb-3">Medida</label>
    <p-inputNumber
      inputId="integeronly"
      formControlName="medida"
      type="number"
      placeholder="15.36"
      class="form-field w-full"
      [style]="{ width: '100%' }"
    />
  </div>

  <div class="field mb-5">
    <label class="block text-900 font-medium mb-3"> Unidad de Medida</label>
    <p-dropdown
      [options]="unidadesMedida"
      optionLabel="nombre"
      formControlName="unidadMedida"
      placeholder="Ej. N/A, M2, ML, UND"
      class="form-field w-full"
      [style]="{ width: '100%' }"
    ></p-dropdown>
  </div>

  <div class="field mb-5">
    <label for="categoria" class="block text-900 font-medium mb-3"
      >Categoría</label
    >
    <p-dropdown
      [options]="categorias"
      optionLabel="tipoCategoria"
      formControlName="categoriaProductos"
      placeholder="Selecciona una categoria"
      class="form-field"
      [style]="{ width: '100%' }"
    >
    </p-dropdown>
  </div>

  <button
    type="submit"
    pButton
    pRipple
    label="Agregar Producto"
    icon="pi pi-plus"
    class="w-full bg-primary text-white hover:bg-primary-700 border-none font-semibold py-3 rounded-md text-lg transition-all duration-300"
  ></button>

  <p-toast></p-toast>
</form>
