
  <p-toast [position]="'bottom-right'" />
  
    <div class="text-center mb-5">
      <img [src]="'images/LOGO-MAX.png'" width="150" height="100" />
      <h2 class="text-900 text-3xl font-medium mb-3">Agregar Producto</h2>
      <span class="text-600 font-italic line-height-3"
        >Ingresa el producto a crear</span
      >
    </div>

    <form [formGroup]="fomr2()" (ngSubmit)="addProduct()">
      <div class="mb-4">
        <label class="block text-900 font-medium mb-2"
          >Descripción del producto</label
        >
        <input
          type="text"
          placeholder="Descripción"
          pInputText
          class="w-full mb-3"
          formControlName="tipoProducto"
        />
      </div>

      <div class="mb-4">
        <label class="block text-900 font-medium mb-2">Precio</label>
        <input
          formControlName="precio"
          type="number"
          placeholder="$"
          pInputText
          class="w-full mb-3"
        />
      </div>

      <div class="mb-4">
        <label class="block text-900 font-medium mb-2">Unidad de Medida</label>
        <input
          formControlName="unidadMedida"
          type="text"
          placeholder="N/A, M2, ML, UND"
          pInputText
          class="w-full mb-3"
        />
      </div>

      <div class="mb-4">
        <label class="block text-900 font-medium mb-2">Medida</label>
        <input
          formControlName="medida"
          pInputText
          placeholder="Medida en centímetros (ej. 60 | 60x60)"
          class="w-full mb-3"
        />
      </div>

      <div class="mb-4">
        <label class="block text-900 font-medium mb-2">Categoría</label>
        <select
          formControlName="idCategoria"
          class="w-full h-10 border-round mb-5 border-gray-400"
        >
          @for (categoria of categorias; track $index) {
          <option value="{{ categoria.id }}">{{ categoria.tipoCategoria }}</option>
          }
        </select>
      </div>

      <button
        type="submit"
        pButton
        pRipple
        label="Agregar Producto"
        icon="pi pi-plus"
        class="w-full bg-blue-500 text-white hover:bg-blue-600 transition duration-200"
        [disabled]="this.fomr2().invalid"
      ></button>
    </form>


