<div class="p-mx-auto p-shadow-4 p-p-4" style="max-width: 800px; width: 100%">
  <p-card class="">
    <h2 class="p-text-center p-mb-3" style="color: #333; text-align: center">
      Datos del apartamento
    </h2>

    <!-- Tabla para Privadas y Sociales -->
    <p-table
      [value]="materials"
      class="p-datatable-striped p-datatable-gridlines p-mb-4"
    >
      <ng-template pTemplate="header">
        <tr class="p-text-center">
          <th
            class="p-text-bold"
            style="background-color: #4ea6e9; color: white"
          >
            PRIVADAS Y SOCIAL
          </th>
          <th
            class="p-text-bold"
            style="background-color: #4ea6e9; color: white; width: 80px"
          >
            UNIDAD MEDIDA
          </th>
          <th
            class="p-text-bold"
            style="background-color: #4ea6e9; color: white; width: 80px"
          >
            PISOS
          </th>
          <th
            class="p-text-bold"
            style="background-color: #4ea6e9; color: white; width: 80px"
          >
            MUROS
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-material>
        <tr class="p-text-center p-py-3">
          <td class="p-text-primary">{{ material.name }}</td>
          <td class="p-p-2">
            <input
              type="text"
              [(ngModel)]="material.unit"
              readonly
              class="p-inputtext p-component p-mb-2 p-text-center"
              style="width: 70px"
            />
          </td>
          <td class="p-p-2">
            <input
              type="number"
              [(ngModel)]="material.amount"
              class="p-inputtext p-component p-mb-2 p-text-center"
              style="width: 70px"
            />
          </td>
          <td class="p-p-2">
            <input
              type="number"
              [(ngModel)]="material.amount1"
              class="p-inputtext p-component p-mb-2 p-text-center"
              style="width: 70px"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- Tabla duplicada para Techos -->
    <p-table
      [value]="materials"
      class="p-datatable-striped p-datatable-gridlines p-mb-4"
    >
      <ng-template pTemplate="header">
        <tr class="p-text-center">
          <th
            class="p-text-bold"
            style="background-color: #4ea6e9; color: white"
          >
            TECHOS
          </th>
          <th
            class="p-text-bold"
            style="background-color: #4ea6e9; color: white"
          ></th>
          <th
            class="p-text-bold"
            style="background-color: #4ea6e9; color: white"
          ></th>
          <th
            class="p-text-bold"
            style="background-color: #4ea6e9; color: white"
          ></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-material>
        <tr class="p-text-center p-py-3">
          <td class="p-text-primary">{{ material.name }}</td>
          <td class="p-p-2">
            <input
              type="text"
              [(ngModel)]="material.unit"
              readonly
              class="p-inputtext p-component p-mb-2 p-text-center"
              style="width: 70px"
            />
          </td>
          <td class="p-p-2">
            <input
              type="number"
              [(ngModel)]="material.amount"
              class="p-inputtext p-component p-mb-2 p-text-center"
              style="width: 70px"
            />
          </td>
          <td class="p-p-2">
            <input
              type="number"
              [(ngModel)]="material.amount1"
              class="p-inputtext p-component p-mb-2 p-text-center"
              style="width: 70px"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
      <div class="p-d-flex p-jc-center p-mt-3">
        <p-button
          label="Guardar"
          icon="pi pi-check"
          class="p-button-success p-mr-2"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
