<!-- Contenedor Principal -->
<p-toast [position]="'bottom-right'"></p-toast>
<div class="main-content flex flex-wrap gap-3 align-items-center justify-content-between mt-5">
  <p-splitButton
    label="Categorias"
    (onClick)="getListProducts()"
    [model]="items"
    size="small"
    severity="contrast"
    text
    [scrollLeft]="true"
    arrow
  ></p-splitButton>
  <p-button
    severity="success"
    label="Nuevo"
    icon="pi pi-plus"
    class="mr-2"
    size="small"
    routerLink="/add"
  ></p-button>
</div>

<!-- Contenedor Tabla -->
<div class="flex overflow-hidden mt-4 justify-content-center">
  <p-table
    [value]="ListProducts"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Descripcion</th>
        <th>Unidad</th>
        <th>Precio</th>
        <th>Status</th>
        <th>Reviews</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-columns="columns">
      <tr>
        <td>{{ product.tipoProducto }}</td>
        <td>{{ product.unidadMedida }}</td>
        <td>{{ formatCurrency(product.precio) }}</td>
        <td>
          <p-button
            label=""
            [text]="true"
            [raised]="true"
            icon="pi pi-pencil"
            routerLink="/edit/{{ product.id }}"
          ></p-button>
        </td>
        <td>
          <p-button
            label=""
            icon="pi pi-trash"
            [text]="true"
            [raised]="true"
            severity="warning"
            (click)="deleteProduct(product.id!)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Imagen inferior -->
<div class="p-d-flex p-jc-center">
  <img
    [src]="'images/LogosE.png'"
    class="bottom-image"
    alt="Logos"
  />
</div>
