<div style="max-width: 800px; margin: 0 auto; padding: 32px">
  <h2
    class="p-text-center"
    style="
      font-size: 2.4rem;
      font-weight: bold;
      color: #4caf50;
      text-align: center;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    "
  >
    <i class="pi pi-file" style="margin-right: 8px"></i> Resumen de Cotización
  </h2>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      background-color: #f7f9f9;
      padding: 20px;
      border-radius: 10px;
    "
  >
    <!-- Sección Cliente -->
    <div
      style="
        flex-basis: calc(50% - 16px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
      "
    >
      <h3 style="font-size: 1.5rem; color: #4caf50">Cliente</h3>
      <p><strong>Cliente:</strong> {{ detallesCotizacion.prospecto.nombre }}</p>
      <p>
        <strong>Cédula:</strong> {{ detallesCotizacion.prospecto.documento }}
      </p>
    </div>

    <!-- Sección Proyecto -->
    <div
      style="
        flex-basis: calc(50% - 16px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
      "
    >
      <h3 style="font-size: 1.5rem; color: #4caf50">Proyecto</h3>
      <p>
        <strong>Nombre Proyecto:</strong> {{ detallesCotizacion.proyecto.nombre
        }}<br /><strong>Apartamento:</strong>
        {{ detallesCotizacion.proyecto.apartamento }}
      </p>
    </div>
  </div>

  <!-- Información adicional (productos y total cotización) -->
  <div *ngIf="detallesCotizacion" style="margin-top: 40px">
    <h2 style="font-size: 1.8rem; color: #4caf50">Productos por Zona</h2>

    <div *ngFor="let zona of productosPorZona" style="margin-bottom: 20px">
      <h3 style="font-size: 1.5rem">{{ zona.zona }}</h3>
      <table style="width: 100%; border-collapse: collapse">
        <thead>
          <tr>
            <th style="border-bottom: 2px solid #4caf50; padding-bottom: 8px">
              Producto
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of zona.productos">
            <td style="border-bottom: 1px solid #ddd; padding: 8px">
              {{ producto.tipoProducto }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2>Total Cotización: {{ totalCotizacion | currency }}</h2>

    <div
      style="
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;
        border-radius: 10px;
        background-color: #f9f9f9;
      "
    >
      <p>
        La presente cotización constituye exclusivamente una estimación
        preliminar de carácter informativo y referencial, elaborada con base en
        la información general proporcionada hasta el momento, y no representa
        una oferta comercial según los términos previstos en el artículo 845 del
        Código de Comercio Colombiano. Los valores, especificaciones y
        condiciones aquí expresados son aproximados y podrán variar según las
        condiciones específicas del proyecto, disponibilidad de materiales,
        fluctuaciones de precios en el mercado, modificaciones en el alcance del
        trabajo y resultados de la visita técnica al sitio de ejecución. Para la
        elaboración de una propuesta formal y vinculante, se requerirá
        necesariamente una visita técnica al sitio, evaluación detallada de
        condiciones específicas y confirmación escrita de las especificaciones
        técnicas finales del proyecto. Esta estimación tiene una vigencia
        referencial y los precios están sujetos a confirmación al momento de
        emitir una propuesta formal, la cual deberá constar por escrito y ser
        expresamente aceptada por ambas partes para generar cualquier tipo de
        vínculo contractual.
      </p>
    </div>

    <button
      pButton
      type="button"
      label="Volver a Fidelización"
      icon="pi pi-arrow-left"
      class="p-button-secondary"
      (click)="volverAFidelizacion()"
    ></button>
  </div>
</div>
