<div class="p-m-5">
  <div class="header-container p-d-flex p-ai-center p-mb-3">
    <!-- <img
      [src]="'images/Final03.png'"
      width="100"
      height="100"
      class="logo p-mr-3"
      alt="Logo"
    /> -->
    <h1 class="text-center p-m-0" style="font-size: 1.8em; color: #333">
      Simulador de Remodelación de Apartamentos
    </h1>
  </div>

  <p-tabView>
    <!-- Tab Habitación -->
    <p-tabPanel header="🏠 Privadas y Sociales">
      <div class="p-fluid">
        <h3>Privadas y Sociales</h3>
        <div class="field">
          <label for="muro">Muro</label>
          <p-dropdown
            id="muro"
            [options]="materialesMuro"
            [(ngModel)]="selectedMaterialMuroHabitacion"
            placeholder="Selecciona material para muro"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="piso">Piso</label>
          <p-dropdown
            id="piso"
            [options]="materialesPiso"
            [(ngModel)]="selectedMaterialPisoHabitacion"
            placeholder="Selecciona material para piso"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="techo">Techo</label>
          <p-dropdown
            id="techo"
            [options]="materialesTecho"
            [(ngModel)]="selectedMaterialTechoHabitacion"
            placeholder="Selecciona material para techo"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="techo">Guarda Escoba</label>
          <p-dropdown
            id="techo"
            [options]="materialesGuardaEscoba"
            [(ngModel)]="selectedGuardaEscoba"
            placeholder="Selecciona material para techo"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="muro">Carpinteria</label>
          <p-dropdown
            id="muro"
            [options]="materialesMuro"
            [(ngModel)]="selectedMaterialMuroHabitacion"
            placeholder="Selecciona material para carpinteria"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
      </div>
    </p-tabPanel>

    <!-- Tab Baño -->
    <p-tabPanel header="🚿 Baño">
      <div class="p-fluid">
        <h3>Baño</h3>
        <div class="field">
          <label for="muro">Muro</label>
          <p-dropdown
            id="muro"
            [options]="materialesMuro"
            [(ngModel)]="selectedMaterialMuroBa"
            placeholder="Selecciona material para muro"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="piso">Piso</label>
          <p-dropdown
            id="piso"
            [options]="materialesPiso"
            [(ngModel)]="selectedMaterialPisoBa"
            placeholder="Selecciona material para piso"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="techo">Techo</label>
          <p-dropdown
            id="techo"
            [options]="materialesTecho"
            [(ngModel)]="selectedMaterialTechoBa"
            placeholder="Selecciona material para techo"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
      </div>
    </p-tabPanel>

    <!-- Tab Cocina -->
    <p-tabPanel header="🍳 Cocina">
      <div class="p-fluid">
        <h3>Cocina</h3>
        <div class="field">
          <label for="muro">Muro</label>
          <p-dropdown
            id="muro"
            [options]="materialesMuro"
            [(ngModel)]="selectedMaterialMuroCocina"
            placeholder="Selecciona material para muro"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="piso">Piso</label>
          <p-dropdown
            id="piso"
            [options]="materialesPiso"
            [(ngModel)]="selectedMaterialPisoCocina"
            placeholder="Selecciona material para piso"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="techo">Techo</label>
          <p-dropdown
            id="techo"
            [options]="materialesTecho"
            [(ngModel)]="selectedMaterialTechoCocina"
            placeholder="Selecciona material para techo"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="techo">Guarda Escoba</label>
          <p-dropdown
            id="techo"
            [options]="materialesTecho"
            [(ngModel)]="selectedMaterialTechoCocina"
            placeholder="Selecciona material para techo"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="muro">Accesorios</label>
          <p-dropdown
            id="muro"
            [options]="materialesMuro"
            [(ngModel)]="selectedMaterialMuroHabitacion"
            placeholder="Selecciona accesorios"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
      </div>
    </p-tabPanel>

    <!-- Tab Lavado -->
    <p-tabPanel header="🧺 Lavado">
      <div class="p-fluid">
        <h3>Lavado</h3>
        <div class="field">
          <label for="muro">Muro</label>
          <p-dropdown
            id="muro"
            [options]="materialesMuro"
            [(ngModel)]="selectedMaterialMuroCocina"
            placeholder="Selecciona material para muro"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="piso">Piso</label>
          <p-dropdown
            id="piso"
            [options]="materialesPiso"
            [(ngModel)]="selectedMaterialPisoCocina"
            placeholder="Selecciona material para piso"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="techo">Techo</label>
          <p-dropdown
            id="techo"
            [options]="materialesTecho"
            [(ngModel)]="selectedMaterialTechoCocina"
            placeholder="Selecciona material para techo"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="techo">Guarda Escoba</label>
          <p-dropdown
            id="techo"
            [options]="materialesTecho"
            [(ngModel)]="selectedMaterialTechoCocina"
            placeholder="Selecciona material para guarda escoba"
            optionLabel="tipoProducto"
          ></p-dropdown>
        </div>
      </div>
    </p-tabPanel>
   
    <!-- Tab Instalaciones y Equipos -->
    <p-tabPanel header="🔧 Instalaciones y Equipos">
      <div class="p-fluid">
        <h3>Instalaciones y Equipos</h3>

        <!-- Carpintería -->
        <p-table [value]="materialesCarpinteria">
          <ng-template pTemplate="header">
            <tr>
              <th>Descripción</th>
              <th>Cantidad</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-material>
            <tr>
              <td>{{ material.descripcion }}</td>
              <td>
                <p-inputNumber
                  [(ngModel)]="material.cantidad"
                  [min]="1"
                  [showButtons]="true"
                ></p-inputNumber>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <!-- Aparatos -->
        <p-table [value]="materialesAparatos">
          <ng-template pTemplate="header">
            <tr>
              <th>Descripción</th>
              <th>Cantidad</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-material>
            <tr>
              <td>{{ material.descripcion }}</td>
              <td>
                <p-inputNumber
                  [(ngModel)]="material.cantidad"
                  [min]="1"
                  [showButtons]="true"
                ></p-inputNumber>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <!-- Accesorios -->
        <p-table [value]="materialesAccesorios">
          <ng-template pTemplate="header">
            <tr>
              <th>Descripción</th>
              <th>Cantidad</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-material>
            <tr>
              <td>{{ material.descripcion }}</td>
              <td>
                <p-inputNumber
                  [(ngModel)]="material.cantidad"
                  [min]="1"
                  [showButtons]="true"
                ></p-inputNumber>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <!-- Red Eléctrica -->
        <p-table [value]="materialesRedElectrica">
          <ng-template pTemplate="header">
            <tr>
              <th>Descripción</th>
              <th>Cantidad</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-material>
            <tr>
              <td>{{ material.descripcion }}</td>
              <td>
                <p-inputNumber
                  [(ngModel)]="material.cantidad"
                  [min]="1"
                  [showButtons]="true"
                ></p-inputNumber>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
  </p-tabView>
  <div class="p-d-flex p-jc-center p-mt-4">
    <p-button
      label="Generar Cotización"
      (click)="showConfirmationDialog()"
    ></p-button>
  </div>
  <!-- Componente de Dialogo -->
  <p-dialog
    header="Confirmar Cotización"
    [(visible)]="displayModal"
    [modal]="true"
    [closable]="false"
    [style]="{ width: '400px' }"
  >
    <p>¿Estás seguro de que deseas generar la cotización?</p>
    <p-footer>
      <button
        pButton
        label="Confirmar"
        icon="pi pi-check"
        (click)="proceedWithQuote()"
        class="p-button-success confirm-btn"
      ></button>
      <button
        pButton
        label="Cancelar"
        icon="pi pi-times"
        (click)="cancelQuote()"
        class="p-button-secondary cancel-btn"
      ></button>
    </p-footer>
  </p-dialog>

  <p-toast></p-toast>
</div>
