<div
  *ngIf="!displayModal"
  class="intro-section card flex flex-column justify-content-center align-items-center"
  style="
    width: 500px; /* Más ancho */
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px; /* Más espacio */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 20px;
  "
>
  <h2 class="text-center mb-3">Gestión de Proyectos</h2>
  <p class="text-center mb-4" style="color: #555">
    Aquí puedes crear nuevos apartamentos y proyectos para facilitar tu
    gestión inmobiliaria.
  </p>
  <div
    class="grid gap-2"
    style="
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px; 
    "
  >
    <p-button
      label="Crear Proyecto"
      [raised]="true"
      severity="success"
      size="small" 
      icon="pi pi-plus"
      (click)="goToDetallesProyecto()"
    ></p-button>
    <p-button
      label="Crear Apartamento"
      [raised]="true"
      severity="success"
      size="small"
      icon="pi pi-home"
      (click)="goToDetallesApto()"
    ></p-button>
    <p-button
      label="Lista de Precios"
      [raised]="true"
      severity="info"
      size="small"
      icon="pi pi-dollar"
      (click)="goToListaPrecios()"
    ></p-button>
    <p-button
      label="Consultar Apartamentos"
      [raised]="true"
      severity="secondary"
      size="small"
      icon="pi pi-search"
      (click)="goToConsultarApto()"
    ></p-button>
  </div>
  <div class="p-d-flex p-jc-center p-mt-4">
    <img
   [src]="'images/imagen.png'"
   class="bottom-image"
   alt="Logos"
 /> 
</div>
</div>
