<div
  class="flex justify-content-center align-items-center"
  style="
    min-height: 80vh;
    background: linear-gradient(to bottom right, #f4f4f9, #e0e7ff);
  "
>
  <div
    *ngIf="!displayModal"
    class="intro-section card flex flex-column justify-content-center align-items-center"
    style="
      width: 400px;
      max-width: 100%;
      background-color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      margin: 20px;
    "
  >
    <h2 class="text-center mb-3">Gestión de Proyectos</h2>
    <p class="text-center mb-4" style="color: #555">
      Aquí puedes crear nuevos apartamentos y proyectos para facilitar tu
      gestión inmobiliaria.
    </p>
    <p-button
      label="Crear Proyecto"
      [raised]="true"
      severity="success"
      size="large"
      icon="pi pi-plus"
      class="mb-2"
      (click)="openModal(false)"
    ></p-button>
    <p-button
      label="Crear Apartamento"
      [raised]="true"
      severity="success"
      size="large"
      icon="pi pi-plus"
      class="mb-2"
      (click)="openModal(true)"
    ></p-button>
  </div>

  <div
    *ngIf="displayModal"
    class="form-section card p-fluid"
    style="
      width: 600px;
      max-width: 100%;
      background-color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      margin: 20px;
    "
  >
    <h4 class="text-center mt-4 mb-3">Detalles del Proyecto</h4>

    <form #projectForm="ngForm" (ngSubmit)="handleFormSubmit(projectForm)">
      <div class="grid">
        <!-- Nombre del Proyecto -->
        <div class="col-12 md:col-6">
          <div class="field">
            <label for="nombre">Nombre del Proyecto:</label>
            <input
              id="nombre"
              name="nombre"
              [(ngModel)]="nombre"
              required
              #nombreInput="ngModel"
              class="input-field w-full"
            />
            <small
              *ngIf="nombreInput.invalid && nombreInput.touched"
              class="p-error"
              >El nombre es obligatorio.</small
            >
          </div>
        </div>

        <!-- Dirección -->
        <div class="col-12 md:col-6">
          <div class="field">
            <label for="direccion">Dirección:</label>
            <input
              id="direccion"
              name="direccion"
              [(ngModel)]="direccion"
              required
              #direccionInput="ngModel"
              class="input-field w-full"
            />
            <small
              *ngIf="direccionInput.invalid && direccionInput.touched"
              class="p-error"
              >La dirección es obligatoria.</small
            >
          </div>
        </div>
        <!-- Descripción del Proyecto -->
        <div class="col-12">
          <div class="field">
            <label for="descripcion">Descripción del Proyecto:</label>
            <textarea
              id="descripcion"
              name="descripcion"
              [(ngModel)]="descripcion"
              rows="4"
              class="input-field w-full"
            ></textarea>
          </div>
        </div>
        <!-- Sección de Apartamento -->
        <div *ngIf="isCreatingApartment">
          <h4 class="text-center mt-4 mb-3">Detalles del Apartamento</h4>

          <!-- Nombre del Apartamento -->
          <div class="col-12 md:col-6">
            <div class="field">
              <label for="nombreApartamento">Nombre del Apartamento:</label>
              <input
                id="nombreApartamento"
                name="nombreApartamento"
                [(ngModel)]="nombreApartamento"
                required
                #nombreApartamentoInput="ngModel"
                class="input-field w-full"
              />
              <small
                *ngIf="
                  nombreApartamentoInput.invalid &&
                  nombreApartamentoInput.touched
                "
                class="p-error"
              >
                El nombre del apartamento es obligatorio.
              </small>
            </div>
          </div>

          <!-- Medida del Apartamento -->
          <div class="col-12 md:col-6">
            <div class="field">
              <label for="medidaApartamento"
                >Medida del Apartamento (m²):</label
              >
              <input
                type="number"
                id="medidaApartamento"
                name="medidaApartamento"
                [(ngModel)]="medidaApartamento"
                required
                #medidaApartamentoInput="ngModel"
                class="input-field w-full"
              />
              <small
                *ngIf="
                  medidaApartamentoInput.invalid &&
                  medidaApartamentoInput.touched
                "
                class="p-error"
              >
                La medida del apartamento es obligatoria.
              </small>
            </div>
          </div>

          <!-- Zonas -->
          <div class="col-12">
            <div class="field">
              <label for="zonas">Zonas (Cocinas, Baños, Habitaciones):</label>
              <textarea
                id="zonas"
                name="zonas"
                [(ngModel)]="zonas"
                required
                #zonasInput="ngModel"
                rows="3"
                class="input-field w-full"
              ></textarea>
              <small
                *ngIf="zonasInput.invalid && zonasInput.touched"
                class="p-error"
              >
                Las zonas son obligatorias.
              </small>
            </div>
          </div>
        </div>
      </div>

      <!-- Botones de acción -->
      <div class="flex justify-content-end gap-2 mt-4">
        <p-button
          label="Cancelar"
          icon="pi pi-times"
          (click)="displayModal = false"
          class="p-button-text"
        ></p-button>
        <p-button
          label="Guardar"
          icon="pi pi-check"
          [disabled]="projectForm.invalid"
          type="submit"
          class="p-button-success"
        ></p-button>
      </div>
    </form>
    <p-toast position="top-right"></p-toast>
  </div>
</div>
